# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults


*.*[~]
*.swp
*.userprefs
*.test-cache
*.pidb
*.*scc
*.FileListAbsolute.txt
*.aps
*.bak
*.[Cc]ache
*.clw
*.eto
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.obj
*.patch
*.pch
*.pdb
*.plg
*.[Pp]ublish.xml
*.rdl.data
*.sbr
*.scc
*.sig
*.sqlsuo
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vshost.*
*DXCore.Solution
*_i.c
*_p.c
Ankh.Load
Backup*
CVS/
PrecompiledWeb/
UpgradeLog*.*
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Tt]humbs.db
test-results/
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
_TeamCity.*/
hgignore[.-]*
ignore[.-]*
svnignore[.-]*
lint.db
src/FunnelWeb.Web/App_Data/ClientDependency
files\*
files/*
Files/*
Temp/*
build/Artifacts/
build/Published/
build/TestResult.xml
[pP]ublish
lib
packages

.DS_Store
*.pidb
*.orig
src/packages/
*.received.txt
src/_NCrunch_DbUp
*.received.cs
dbup*.nupkg
.idea

src/.vs/
project.lock.json
project.lock.json
project.lock.json
tools/
artifacts/
