<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FodyCecil" version="1.29.2" targetFramework="net4" developmentDependency="true" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net4" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net4" />
  <package id="PublicApiGenerator" version="4.0.1" targetFramework="net40" />
  <package id="Shouldly" version="2.7.0-beta0003" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net4" />
  <package id="TestStack.BDDfy" version="4.2.0" targetFramework="net40" />
</packages>