<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NSubstitute" version="1.6.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="System.Data.SQLite" version="1.0.86.0" targetFramework="net40" />
  <package id="TestStack.BDDfy" version="3.15" targetFramework="net40" />
</packages>