<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiApprover" version="3.0.1" targetFramework="net4" />
  <package id="ApprovalTests" version="3.0.9" targetFramework="net4" />
  <package id="ApprovalUtilities" version="3.0.9" targetFramework="net4" />
  <package id="FodyCecil" version="1.29.2" targetFramework="net4" developmentDependency="true" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net4" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net4" />
  <package id="NSubstitute" version="1.6.0.0" targetFramework="net4" />
  <package id="NUnit" version="2.6.2" />
  <package id="Shouldly" version="2.6.0" targetFramework="net4" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net4" />
  <package id="TestStack.BDDfy" version="4.1.2" targetFramework="net4" />
</packages>