<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\DbUp.Firebird\packages.config" />
  <repository path="..\src\DbUp.MySql\packages.config" />
  <repository path="..\src\DbUp.Postgresql\packages.config" />
  <repository path="..\src\DbUp.SqlCe\packages.config" />
  <repository path="..\src\DbUp.Sqlite\packages.config" />
  <repository path="..\src\DbUp.Tests\packages.config" />
  <repository path="..\src\Samples\FirebirdSampleApplication\packages.config" />
  <repository path="..\src\Samples\SQLiteSampleApplication\packages.config" />
</repositories>