<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\DbUp.Specification\packages.config" />
  <repository path="..\src\DbUp.SqlCe\packages.config" />
  <repository path="..\src\DbUp.Sqlite\packages.config" />
  <repository path="..\src\Samples\SQLiteSampleApplication\packages.config" />
</repositories>